.preloader{
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: black;
    z-index: 100;
}
 
.loader{
   
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border: 5px solid white;
    border-radius: 50%;
    border-top-color: blue;
    animation: 1s spin infinite linear; 

}

#form2 .form-btn {
    margin-bottom:25px;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}